.select{
    font-weight: 600;
    color: #F15025;
}
.container{
    display: flex;
    align-items: center;
    margin-left: auto;
    width: auto;
}
.btn{
    transition: all 0.4s;
    outline: none;
    width: auto;
    padding: 0 1rem;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    font-size: 1rem;
    margin: 1rem 0.3rem;
    color: #F15025;
    border: solid 1px #F15025;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 3px rgb(226, 226, 226);
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
}
.btn:hover{
    background-color: #F15025;
    color: white;
}
.icon{
    margin-left: 0.5rem;
    align-self: center;
    height: 0.6rem;
}
.chosen{
    background-color: #F15025;
    color: white;
}
.wrapper{
    position: relative;
}
.dropdown{
    box-shadow: 0 2px 4px grey;
    border: solid 1px gray;
    position: absolute;
    z-index: 3;
    background-color: white;
    width: 10rem;
    top: 3.5rem;
    left: 0.4rem;
    border-radius: 6px;
}
.item, .select{
    list-style: none;
    padding: 0.3rem 1rem;
    cursor: pointer;
}
.item:hover{
    background-color: #F15025;
    color: white;
}
.dnone{
    display: none;
}

@media (max-width: 832px){
    .btn, .container{
      font-size: 0.8rem;
    }
}
@media (max-width: 769px){
    .container{
      width: 100%;
      margin-left: 0;
      margin-top: 0;
    }
}
@media (max-width: 422px){
    .btn, .container{
      font-size: 0.6rem;
    }
}